
/* MAIN */
.form-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.form {
    display: flex;
    width: 400px;
}

.form-label {
    display: inline-block;
    width: 80px;
}

.form-input,
.message-box {
    flex-grow: 1;
}

.message-box {
    height: 50px;
}

/* CHATBOX */

.chatbox {
    margin: 10px auto 10px;
    border: 1px solid black;
    width: 50vw;
    height: 70vh;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.announcement {
    text-align: center;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
